<!DOCTYPE html>
<html>
<body>


<link rel="stylesheet" href='/css/style.css'>

<video id="homevideo" width="100%" autoplay onended="run()">
    <source src="vid/mm0.mp4" type='video/mp4'/>
</video>

<div id="polina">
<h1>Chris Dow</h1>
<p>Generative Work</p>

<!--
<button onclick="myFunction0()">About</button>
<p id="demo0"></p> 
-->
<button onclick="window.location.href='index.html'">Home</button>
<button onclick="window.location.href='about.html'">About</button>


<p>
   Chris Dow graduated from Carleton University in 1993 with a bachelor's degree in engineering and went on to study at the Ontario College of Art where he spent 1995/96 in Florence and graduated in 1997.
   Chris has worked as an engineer for the past 15 years in Japan, Australia and the United States while keeping active as a painter. Chris has shown his work in Florence,
   Vancouver and Toronto, as well as having been an active artist at loop for 6 years. Chris has work in private collections as well as with the Art Gallery of Ontario. This body of work is a new direction for him and he is developing work on a few different platforms using a variety of software environments.         

</p>



<form method="post" action="/">
  <button>Gallery</button>
</form>
<button onclick="myFunction()">cycle</button>
<p id="demo"></p>

<script type="text/javascript">

//var app = require('/public/app.js');

video_count = 0;
videoPlayer = document.getElementById("homevideo");


function run(){
        video_count++;
        if (video_count == 4) video_count = 0;
        var nextVideo = "vid/mm"+video_count+".mp4";
        videoPlayer.src = nextVideo;
        videoPlayer.play();
   };


function myFunction() {
    //console.log( "skip video"));
    //console.log(path.join(__dirname, "public/views"));

        video_count++;
        if (video_count == 4) video_count = 0;
        var nextVideo = "vid/mm"+video_count+".mp4";
        videoPlayer.src = nextVideo;
        videoPlayer.play();
}

//function myFunction0() {
//document.getElementById("demo0").innerHTML = path.join(__dirname, "/views");
//         video_count++;
//        if (video_count == 4) video_count = 0;
//        var nextVideo = "vid/mm"+video_count+".mp4";
//        videoPlayer.src = nextVideo;
//        videoPlayer.play();
//}

</script>

</body>
</html>